<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta content='width=device-width' name='viewport'>
    <title>Política de Privacidade</title>
    <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
</head>
<body>
<h2>Política de Privacidade</h2>
<p><strong>Resumo</strong></p>

<p>
    Esse aplicativo, <strong>{{NAME_OF_ENTERPRISE}}</strong>, é distribuído de forma gratuita utilizando os serviços da
    Google a partir da Google Play Store, sendo necessário realizar o cadastro para a sua utilização. As informações
    coletadas no cadastro, <strong>nome, email, foto do perfil</strong>, são apenas de cunho informativo sobre
    o usuário com o objetivo de realizar sua identificação para que posteriormente ele possa usufruir dos serviços que
    esse aplicativo oferece.
</p>
<p>
    Em algum momento durante a utilização deste aplicativo serão pedidos informações adicionais, tais como <strong>nome
    completo, telefone, endereço</strong>, com o único objetivo de identificação.
</p>
<p>
    Todos os dados coletados serão usados único e exclusivamente pelo próprio aplicativo. <strong>NÃO</strong> serão
    compartilhados com nenhum outro aplicativo ou com qualquer outra instituição.
</p>

<p><strong>Bibliotecas de terceiros</strong></p>
<p>
    Esse aplicativo utiliza-se de bibliotecas de terceiros que podem estar coletando informações sobre seu dispositivo
    para identificá-lo, com o objetivo de oferecer serviços personalizados.
</p>
<p>
    Link para a política de privacidade de terceiros:
</p>
<p>
<ul>
    <li><a href="https://policies.google.com/privacy?hl=pt-BR">Google Play Service</a></li>
    <li><a href="https://policies.google.com/privacy?hl=pt-BR">Goole Maps</a></li>
</ul>

<p><strong>Coleta de dados</strong></p>
<p>
    Caso algum erro ocorra com o aplicativo, serão coletados dados, de forma <strong>automática</strong>, para a
    identificação do mesmo, tais como:
</p>
<p>
<ul>
    <li>Endereço IP (Internet Protocol)</li>
    <li>Nome do dispositivo</li>
    <li>Versão do sistema operacional</li>
    <li>Configuração do aplicativo</li>
    <li>Data e hora do uso do aplicativo</li>
    <li>Estatísticas sobre o erro ocorrido</li>
</ul>

<p><strong>Utilização do armazenamento interno</strong></p>
<p>
    O aplicativo utiliza-se do armazenamento interno de seu dispositivo para oferecer uma experiência personalizada, os
    dados armazenados <strong>NÃO</strong> são compartilhados com nenhum outro aplicativo ou instituição.
</p>

<p><strong>Segurança</strong></p>
<p>
    O aplicativo segue todos os protocolos de segurança possíveis, porém não é garantida a absoluta segurança.
</p>

<p><strong>Link para sites externos</strong></p>
<p>
    Ao clicar em links dentro deste aplicativo você será redirecionado para um site que possui sua própria política de
    privacidade, logo é recomendável a leitura da mesma. A coleta de informações feita por esses sites não são de
    responsabilidade do aplicativo, cabendo a você a decisão de acessá-lo ou não.
</p>

<p><strong>Crianças</strong></p>
<p>
    Esse aplicativo não faz nenhuma distinção entre crianças, adolescentes e adultos, sendo assim ele
    <strong>NÃO</strong> possui nenhuma medida de proteção para crianças, cabendo aos pais ou guardiões a inteira
    responsabilidade de permitir ou não a utilização por crianças.
</p>

<p><strong>Mudanças na política de privacidade</strong></p>
<p>
    A atualização desta política de privacidade pode ocorrer de tempos em tempos. Apesar de você ser avisado toda as
    vezes que houver mudanças, é aconselhável a leitura periódica desta política de privacidade. As mudanças são de
    efeito imediato.
</p>

<p><strong>Contato</strong></p>
<p>
    Caso você possua alguma dúvida envie um email para <strong>{{CONTACT_EMAIL}}</strong>.
</p>

</body>
</html>
